body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1rem;
}

#routes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: stretch; */
  align-content: center;
  height: 100vh;
  font-size: 0.8rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: 1rem; */
}

form input,
form button {
  width: 18rem;
}

form button {
  display: block;
  border: none;
  background-color: #04aa6d;
  color: white;
  padding: 1.4rem 2.8rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.6s ease;
  font-size: 1rem;
  transition: 0.3s;
}

form input {
  text-align: center;
  font-size: 2rem;
}

form button:active {
  background-color: white;
  color: #ff69b4;
  box-shadow: -0.6rem -0.2rem 2.9rem 1.5rem;
}

input {
  margin-right: 1.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem 0px #ccdbe8 inset,
    -0.3rem -0.3rem 0.6rem 0.1rem rgba(255, 255, 255, 0.5) inset;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 0.2rem;
  border: 0.1rem solid #ccc;
}
